---
---

<div class="theme-buttons">
  <button onclick="toggleUwU()">
    uwu mode
  </button>
  <button onclick="toggleMonospace()">
    monospace mode
  </button>
  <button onclick="toggleNormal()">
    normal
  </button>
</div>
